<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CaseStudy2</title>
</head>
<body>

<h3>Stout Case Study 2</h3>
<h4>Financial Data Analysis and Visualization in for FY range (2015-17) </h4>
<h4>Select a year : </h4>
<ul>
    <li><a href="{{ url_for('year2015')}}">2015</a></li>
    <li><a href="{{ url_for('year2016')}}">2016</a></li>
    <li><a href="{{ url_for('year2017')}}">2017</a></li>
</ul>

<h4> <a href="{{ url_for('visualizations')}}">Visualizations</a></h4>

<!--  <a href="{{ url_for('year2015')}}">2015</a>
  <a href="{{ url_for('year2016')}}">2016</a>
  <a href="{{ url_for('year2017')}}">2017</a>
  <li><a href="outputs15.html">2015</a></li>
  <li><a href="outputs16.html">2016</a></li>
  <li><a href="outputs17.html">2017</a></li>
-->
</body>
</html>