<!DOCTYPE html>
<html>
<title>AreaChart</title>
<body>
<!--<img src="data:image/png;base64, {{ plot_url3 }}">-->
<h3>OBSERVATIONS : </h3>
<ul>
    <li>Of the total revenue generated in the FY timeline 2015-17, 2017 comprises of the highest net revenue generation from the pie chart.</li>
    <li>This also corresponds to the observation in the bar graph, the 2017 witnessed in the growth of no. of customers from 2016.</li>
    <li>So, it can be inferred that the "growth in no of customers" enables the "growth in the net fiscal revenue". </li>
    <li>Another interesting observation comes from the numerical figures from the both the visualizations which also corroborate. </li>
    <li>2017 with the highest revenue composition 36.5 %, not only has the highest no. of customers but also highest fiscal year revenue." </li>
    <li>In addition to that, 2017 also added new customers to its financial base, possibly resulting in the increased net revenue compared to 2016." </li>
    <li>In addition to that, 2017 also added new customers to its financial base, possibly resulting in the increased net revenue compared to 2016." </li>
    <li>*The most notable mathematical observation : The total number of customers fro 2016 to 2017 increased by ~22%, which is the exact same increase in the revenue from
       2016 to 2017. And the same applies in 3.8% decrease from 2015 to 2016.</li>
</ul>
</body>
</html>